body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

.head {
   display: flex;
   width: 500px;
   margin-left: 230px;
}

.logout {
    display: flex;
    width: 200px;
    position: absolute;
    top: 0px;
    right: 0px;  
}
.btn-logout {
  display: flex;
  flex: auto;
  gap: 15px;               
  justify-content: center; 
  margin: 10px;
  text-decoration: none;
}

.btn-logout button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.3s;
}

.btn-logout button:hover {
  background-color: #2b652e;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background: #2c3e50;
  padding-top: 20px;
}
.sidebar h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.sidebar a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.sidebar a:hover {
    background-color: #e67e22; 
    color: white;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
h1 {
  display: flex;
  padding: 20px;
  color: #1f1f1f;
}

.addBook {
  background: #2980b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px 0px 20px;
  transition-duration: 0.3s;
}

.addBook:hover {
  background: #1f6391;
}

.manageBook {
  background: #2980b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px 0px 20px;
  transition-duration: 0.3s;
}

.manageBook:hover {
  background: #1f6391;
}
