body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;  
  font-family: Arial, sans-serif;
  background-image: url('../Photos/registerPage.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register-container {
  max-width: 450px;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  
}

.register-container h1 {
  text-align: center;
  margin-bottom: 5px;
}


.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin: 8px 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.register-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

.register-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background: #f39c12;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn:hover {
  background: #e67e22;
}

.login-text {
  text-align: left;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  color: #e67e22;
  font-weight: bold;
}

.navbar {
   position: sticky;   
   top: 0;
   width: 100%;
   background-color: #1f1f1f;
   overflow: hidden;
   z-index: 1000;
}
.navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
   font-size: 16px;
}
.navbar a:hover {
    background-color: #e67e22; 
    color: white;
}
.success, .error {
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.success {
    color: #155724;
}

.error {
    color: #ff0019;
}